@{
    ViewBag.Title = "show";
}

<style>
    .td1 {
        padding-left:30px;
    }
</style>
<h2> Show Jobs</h2>
@model List<Term_project.Models.job>
<table>
    @foreach (var item in Model)
    {

            <tr>
                <td class="td1" ><strong>ID </strong></td> 
                <td class="td1"><strong>Job Title </strong></td>
                <td class="td1"><strong>Salary </strong></td>
                <td class="td1"><strong>Education </strong></td>
                <td class="td1"><strong>Experience</strong></td>



                </tr>
                <tr>
                    <td class="td1">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td class="td1">
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td class="td1">
                @Html.DisplayFor(modelItem => item.salary)
            </td>
            <td class="td1">
                @Html.DisplayFor(modelItem => item.education)
            </td>
            <td class="td1">
                @Html.DisplayFor(modelItem => item.experience)
            </td>
            <td class="td1">
                @Html.ActionLink("update", "update", new { id = item.Id }) |
                @Html.ActionLink("Delete", "update", new { id = item.Id })
            </td>
        </tr>
    }
</table>

